<!doctype html>
<html class="no-js">
<head>
  <script src="https://cdn.optimizely.com/js/8632514939.js"></script>

  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  
    <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/2026/8661/files/favicon_32x32.png?v=1517041390" type="image/png">
  

  <title>
    Your Shopping Cart &ndash; Quartz
  </title>

  

  <!-- /snippets/social-meta-tags.liquid -->
<meta property="og:site_name" content="Quartz">
<meta property="og:url" content="https://store.qz.com/cart">
<meta property="og:title" content="Your Shopping Cart">
<meta property="og:type" content="website">
<meta property="og:description" content="This is a book about 10 objects. You may not have seen them before, but they’ve already changed the way you live.">
<meta property="og:image" content="https://cdn.shopify.com/s/files/1/2026/8661/files/16_9.jpg?2097065869665270158">
<meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/2026/8661/files/16_9.jpg?2097065869665270158">

<meta name="twitter:site" content="@">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Your Shopping Cart">
<meta name="twitter:description" content="This is a book about 10 objects. You may not have seen them before, but they’ve already changed the way you live.">
<meta name="twitter:image" content="https://cdn.shopify.com/s/files/1/2026/8661/files/16_9.jpg?2097065869665270158"/>


  <link rel="canonical" href="https://store.qz.com/cart">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#0387d0">

  

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="//cdn.shopify.com/s/files/1/2026/8661/t/36/assets/theme.scss.css?1289952700905013038" rel="stylesheet" type="text/css" media="all" />
  <link href="//cdn.shopify.com/s/files/1/2026/8661/t/36/assets/font.css?1289952700905013038" rel="stylesheet" type="text/css" media="all" />
  <link href="//cdn.shopify.com/s/files/1/2026/8661/t/36/assets/styles-top.scss.css?1289952700905013038" rel="stylesheet" type="text/css" media="all" />
  <link href="//cdn.shopify.com/s/files/1/2026/8661/t/36/assets/styles-main.scss.css?1289952700905013038" rel="stylesheet" type="text/css" media="all" />
  <link href="//cdn.shopify.com/s/files/1/2026/8661/t/36/assets/styles-bot.scss.css?1289952700905013038" rel="stylesheet" type="text/css" media="all" />


  <script>
    var theme = {
      strings:{
        sold_out: "Sold",
        add_to_cart: "Add to cart",
        unavailable: "Unavailable",
        increase_quantity: "Increase item quantity by one",
        reduce_quantity: "Reduce item quantity by one"
      },
      settings: {
        ajax_cart_enable: null,
        moneyFormat: "\u003cspan class=money\u003e${{amount}}\u003c\/span\u003e"
      }
    };
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
  <!--[if (gt IE 9)|!(IE)]><!--><script src="//cdn.shopify.com/s/files/1/2026/8661/t/36/assets/vendor.js?1289952700905013038" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="//cdn.shopify.com/s/files/1/2026/8661/t/36/assets/vendor.js?1289952700905013038"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="//cdn.shopify.com/s/files/1/2026/8661/t/36/assets/theme.js?1289952700905013038" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="//cdn.shopify.com/s/files/1/2026/8661/t/36/assets/theme.js?1289952700905013038"></script><![endif]-->

  <meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/20268661/digital_wallets/dialog">
<meta name="shopify-checkout-api-token" content="88f9170b1936d7b4788f541a8f5b2389">
<style media="all">.additional-checkout-button{border:0 !important;border-radius:5px !important;display:inline-block;margin:0 0 10px;padding:0 24px !important;max-width:100%;min-width:150px !important;line-height:44px !important;text-align:center !important}.additional-checkout-button+.additional-checkout-button{margin-left:10px}.additional-checkout-button:last-child{margin-bottom:0}.additional-checkout-button span{font-size:14px !important}.additional-checkout-button img{display:inline-block !important;height:1.3em !important;margin:0 !important;vertical-align:middle !important;width:auto !important}@media (max-width: 500px){.additional-checkout-button{display:block;margin-left:0 !important;padding:0 10px !important;width:100%}}.additional-checkout-button--apple-pay{background-color:#000 !important;color:#fff !important;display:none;font-family:-apple-system, Helvetica Neue, sans-serif !important;min-width:150px !important;white-space:nowrap !important}.additional-checkout-button--apple-pay:hover,.additional-checkout-button--apple-pay:active,.additional-checkout-button--apple-pay:visited{color:#fff !important;text-decoration:none !important}.additional-checkout-button--apple-pay .additional-checkout-button__logo{background:-webkit-named-image(apple-pay-logo-white) center center no-repeat !important;background-size:auto 100% !important;display:inline-block !important;vertical-align:middle !important;width:3em !important;height:1.3em !important}@media (max-width: 500px){.additional-checkout-button--apple-pay{display:none}}.additional-checkout-button--google-pay{line-height:0 !important;padding:0 !important;border-radius:unset !important;width:80px !important}@media (max-width: 500px){.additional-checkout-button--google-pay{width:100% !important}}.gpay-iframe{height:44px !important;width:100%  !important;cursor:pointer;vertical-align:middle !important}.additional-checkout-button--paypal-express{background-color:#ffc439 !important}.additional-checkout-button--paypal,.additional-checkout-button--venmo{vertical-align:top;line-height:0 !important;padding:0 !important}.additional-checkout-button--amazon{background-color:#fad676 !important;position:relative !important}.additional-checkout-button--amazon .additional-checkout-button__logo{-webkit-transform:translateY(4px) !important;transform:translateY(4px) !important}.additional-checkout-button--amazon .alt-payment-list-amazon-button-image{max-height:none !important;opacity:0 !important;position:absolute !important;top:0 !important;left:0 !important;width:100% !important;height:100% !important}.additional-checkout-button-visually-hidden{border:0 !important;clip:rect(0, 0, 0, 0) !important;clip:rect(0 0 0 0) !important;width:1px !important;height:1px !important;margin:-2px !important;overflow:hidden !important;padding:0 !important;position:absolute !important}
</style>
<script id="apple-pay-shop-capabilities" type="application/json">{"shopId":20268661,"countryCode":"US","currencyCode":"USD","merchantCapabilities":["supports3DS"],"merchantId":"gid:\/\/shopify\/Shop\/20268661","merchantName":"Quartz","requiredBillingContactFields":["postalAddress","email"],"requiredShippingContactFields":["postalAddress","email"],"shippingType":"shipping","supportedNetworks":["visa","masterCard","amex","discover"],"total":{"type":"pending","label":"Quartz","amount":"1.00"}}</script>
<script id="shopify-features" type="application/json">{"accessToken":"88f9170b1936d7b4788f541a8f5b2389","betas":[],"domain":"store.qz.com","shopId":20268661,"smart_payment_buttons_url":"https:\/\/cdn.shopifycloud.com\/payment-sheet\/assets\/latest\/spb.js"}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "quartz1.myshopify.com";
Shopify.currency = {"active":"USD","rate":"1.0"};
Shopify.theme = {"name":"Silica Confetti with Redirect","id":6713901084,"theme_store_id":null,"role":"main"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};</script>
<script>window.ShopifyPay = window.ShopifyPay || {};
window.ShopifyPay.apiHost = "pay.shopify.com";</script>
<script>(function() {
  function asyncLoad() {
    var urls = ["https:\/\/chimpstatic.com\/mcjs-connected\/js\/users\/610c6c88d981c23e5c6638b14\/4193db71fc97e53750cd8fa6f.js?shop=quartz1.myshopify.com","https:\/\/chimpstatic.com\/mcjs-connected\/js\/users\/610c6c88d981c23e5c6638b14\/4193db71fc97e53750cd8fa6f.js?shop=quartz1.myshopify.com","https:\/\/chimpstatic.com\/mcjs-connected\/js\/users\/610c6c88d981c23e5c6638b14\/4193db71fc97e53750cd8fa6f.js?shop=quartz1.myshopify.com","https:\/\/chimpstatic.com\/mcjs-connected\/js\/users\/610c6c88d981c23e5c6638b14\/4193db71fc97e53750cd8fa6f.js?shop=quartz1.myshopify.com","https:\/\/cdn.shopify.com\/s\/files\/1\/2026\/8661\/t\/5\/assets\/ginit.js?3853512958469928958\u0026shop=quartz1.myshopify.com","https:\/\/cdn.shopify.com\/s\/files\/1\/2026\/8661\/t\/36\/assets\/doubly.js?18169862786188968225\u0026shop=quartz1.myshopify.com"];
    for (var i = 0; i < urls.length; i++) {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = urls[i];
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
  };
  if(window.attachEvent) {
    window.attachEvent('onload', asyncLoad);
  } else {
    window.addEventListener('load', asyncLoad, false);
  }
})();</script>
<script id="__st">var __st={"a":20268661,"offset":-18000,"reqid":"4e81679a-6a0d-440a-aa9c-7a0a2bc0fb0b","pageurl":"store.qz.com\/cart","u":"9a4bdf43d710"};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script>window.Shopify = window.Shopify || {};
window.Shopify.Checkout = window.Shopify.Checkout || {};
window.Shopify.Checkout.apiHost = "quartz1.myshopify.com";</script>
<script>window.ShopifyAnalytics = window.ShopifyAnalytics || {};
window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
window.ShopifyAnalytics.meta.currency = 'USD';
var meta = {"page":{}};
for (var attr in meta) {
  window.ShopifyAnalytics.meta[attr] = meta[attr];
}</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103162009-1', 'auto');
  ga('send', 'pageview');
};
</script>
<script class="analytics">(window.gaDevIds=window.gaDevIds||[]).push('BwiEti');


(function () {
  var customDocumentWrite = function(content) {
    var jquery = null;

    if (window.jQuery) {
      jquery = window.jQuery;
    } else if (window.Checkout && window.Checkout.$) {
      jquery = window.Checkout.$;
    }

    if (jquery) {
      jquery('body').append(content);
    }
  };

  var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
  if (trekkie.integrations) {
    return;
  }
  trekkie.methods = [
    'identify',
    'page',
    'ready',
    'track',
    'trackForm',
    'trackLink'
  ];
  trekkie.factory = function(method) {
    return function() {
      var args = Array.prototype.slice.call(arguments);
      args.unshift(method);
      trekkie.push(args);
      return trekkie;
    };
  };
  for (var i = 0; i < trekkie.methods.length; i++) {
    var key = trekkie.methods[i];
    trekkie[key] = trekkie.factory(key);
  }
  trekkie.load = function(config) {
    trekkie.config = config;
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.onerror = function(e) {
      (new Image()).src = '//v.shopify.com/internal_errors/track?error=trekkie_load';
    };
    script.async = true;
    script.src = 'https://cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min.js?v=2017.09.05.1';
    var first = document.getElementsByTagName('script')[0];
    first.parentNode.insertBefore(script, first);
  };
  trekkie.load(
    {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":20268661,"isMerchantRequest":null,"themeId":6713901084,"themeCityHash":12631004905483199976}},"Performance":{"navigationTimingApiMeasurementsEnabled":true,"navigationTimingApiMeasurementsSampleRate":0.01},"Google Analytics":{"trackingId":"UA-103162009-1","domain":"auto","siteSpeedSampleRate":"10","enhancedEcommerce":true,"doubleClick":true,"includeSearch":true},"Session Attribution":{}}
  );

  var loaded = false;
  trekkie.ready(function() {
    if (loaded) return;
    loaded = true;

    window.ShopifyAnalytics.lib = window.trekkie;
    
      ga('require', 'linker');
      function addListener(element, type, callback) {
        if (element.addEventListener) {
          element.addEventListener(type, callback);
        }
        else if (element.attachEvent) {
          element.attachEvent('on' + type, callback);
        }
      }
      function decorate(event) {
        event = event || window.event;
        var target = event.target || event.srcElement;
        if (target && (target.getAttribute('action') || target.getAttribute('href'))) {
          ga(function (tracker) {
            var linkerParam = tracker.get('linkerParam');
            document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
          });
        }
      }
      addListener(window, 'load', function(){
        for (var i=0; i < document.forms.length; i++) {
          var action = document.forms[i].getAttribute('action');
          if(action && action.indexOf('/cart') >= 0) {
            addListener(document.forms[i], 'submit', decorate);
          }
        }
        for (var i=0; i < document.links.length; i++) {
          var href = document.links[i].getAttribute('href');
          if(href && href.indexOf('/checkout') >= 0) {
            addListener(document.links[i], 'click', decorate);
          }
        }
      });
    

    var originalDocumentWrite = document.write;
    document.write = customDocumentWrite;
    try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
    document.write = originalDocumentWrite;

    
        window.ShopifyAnalytics.lib.page(
          null,
          {}
        );
      
    
  });

  
      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = "//cdn.shopify.com/s/assets/shop_events_listener-76ce6d7f3e50d4b8c05874c34d2ea1340c45e5babba61276dadcaeed488ca16a.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);
    
})();</script>
<script crossorigin="anonymous" defer="defer" src="//cdn.shopify.com/s/assets/shopify_pay/storefront-2265564244acdefca5e06c16b1374c11db438b342e91b99c91272d78cf03532e.js?v=20190107"></script>
<script integrity="sha256-xeXHZF2YxM9MGinNq8kKtFpiBE3RHkfYxnGnEYjNidw=" defer="defer" src="//cdn.shopify.com/s/assets/storefront/express_buttons-c5e5c7645d98c4cf4c1a29cdabc90ab45a62044dd11e47d8c671a71188cd89dc.js" crossorigin="anonymous"></script>
<script integrity="sha256-wVO039M3uMymMFjKDcSW90f3TAT7vRyPziQZqsSnEpc=" defer="defer" src="//cdn.shopify.com/s/assets/storefront/features-c153b4dfd337b8cca63058ca0dc496f747f74c04fbbd1c8fce2419aac4a71297.js" crossorigin="anonymous"></script>
<script defer="defer" src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-68ca1924c495cfc55dac65f4853e0c9a395387ffedc8fe58e0f2e677f95d7f23.js"></script>



  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js" defer="defer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.min.js" defer="defer"></script>
  <script src="//cdn.shopify.com/s/files/1/2026/8661/t/36/assets/animation.gsap.js?1289952700905013038" defer="defer"></script>
  <script src="https://player.vimeo.com/api/player.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js" defer="defer"></script>
  <script src="//cdn.shopify.com/s/files/1/2026/8661/t/36/assets/custom.js?1289952700905013038" defer="defer"></script>

</head>

<body id="your-shopping-cart" class="template-cart" >

  <div id="PageContainer">

    <div id="shopify-section-header" class="shopify-section"><div data-section-id="header" data-section-type="header-section">
<header class="site-header site-header--classic is-light" role="banner">
      <div class="wrapper">
        
          
          <style>
          .site-header__logo {
            max-width: xpx;
          }
        </style>
        

        
          <div 
            class="site-header__logo " 
             
            itemscope 
            itemtype="http://schema.org/Organization"
          >
        
          
            <a href="/" itemprop="url" class="site-header__logo-text"></a>
          
        
          </div>
        

        <nav class="nav-bar" role="navigation">
          <ul class="site-nav" id="AccessibleNav">
            

                <li id="">
                  <a href="/pages/about" class="site-nav__link " onclick="" target="">About</a>
                </li>
              
            

                <li id="">
                  <a href="/pages/faqs" class="site-nav__link " onclick="" target="">FAQs</a>
                </li>
              
            

                <li id="qualcomm">
                  <a href="https://ad.doubleclick.net/ddm/clk/403411137;203637790;w" class="site-nav__link " onclick="ga('send', 'event', 'ClickedOnQualcomm', 'Qualcomm', 'desktop-navbar', 1)" target="_blank">Brought to you by</a>
                </li>
              
            

              <li class="btn__buy"><a style="cursor: pointer;" onclick="getLocale('fromNav')" class="btn btn--outline  btn--small ">Buy Now</a></li>

            

            

          </ul>

        </nav>

        <button id="menu-opener" class="lines-button" href="#">
          <span class="fallback-text">Open Menu</span>
          <span class="lines" aria-hidden="true"></span>
        </button>

      </div>
    </header>
</div>


</div>

    <main class="main-content" role="main">

      

<div id="shopify-section-cart-template" class="shopify-section"><div id="CartSection" class="page-width" data-section-id="cart-template" data-section-type="cart-template">



<div class="header__custom display-table parallax-bg">
	<div class="display-table-cell prlx-txt">
		<div class="wrapper wrapper--margins">

			<h1 itemprop="name"> Shopping cart </h1>

			
				<span class="cart-count"> 0 items in your cart </span>
			

   			<hr />

		</div>
	</div>
	<span class="prlx-bg" style="background-color: #f6f6f6"></span>
</div>


<div class="wrapper wrapper--margins wrapper--mini">

  

    <div class="text-center">
      <p class="cart--empty-message">Your cart is currently empty.</p>
      <div class="cart--cookie-message">
        <p>Enable cookies to use the shopping cart</p>
      </div>
      <a href="/" class="btn btn--regular btn--color btn--fill cart__continue-btn">
        Continue browsing
      </a>
    </div>

  

</div>

</div>


</div>
<p class="mlvedaCartNote" style="display:none">
  Quartz process all orders in USD.
  While the content of your cart is currently displayed in
  <span class="selected-currency"></span>,
  you will checkout using USD at the most current exchange rate.
</p>

    </main>

    <div id="shopify-section-footer" class="shopify-section">

    <footer class="fixed-footer">
      <!-- <div class="sold-out-banner">
	<div class="text">
		<div class="title">
			We’re sold out! 🙁
		</div>
		<div class="message">
			Enter your email to learn about the next project from Quartz. You can unsubscribe at any time.
		</div>
	</div>
	<div id="mc_embed_signup">
		<form action="//www.us5.list-manage.com/subscribe/post?u=610c6c88d981c23e5c6638b14&amp;id=5dbc7f15f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
					<div class="mc-field-group">
					    <input type="email" placeholder="Your email address" name="EMAIL" class="required email" id="mce-EMAIL">
					</div>
			    <div id="mce-responses" class="clear">
			        <div class="response" id="mce-error-response" style="display:none"></div>
			        <div class="response" id="mce-success-response" style="display:none"></div>
			    </div>
			    <div style="position: absolute; left: -5000px;" aria-hidden="true">
			    	<input type="text" name="b_610c6c88d981c23e5c6638b14_5dbc7f15f1" tabindex="-1" value="">
			    </div>
			    <div class="clear">
			    	<input type="submit" value="GET UPDATES" name="subscribe" id="mc-embedded-subscribe" class="button">
			    </div>
		    </div>
		</form>
	</div>
</div> -->
      <a class="qc" href=https://ad.doubleclick.net/ddm/clk/403411137;203637790;w target="_blank" onclick="ga('send', 'event', 'ClickedOnQualcomm', 'Qualcomm', 'mobile-footer', 1)">
        <div >Brought to you by</div>
      </a>
    </footer>
    <footer class="site-footer small--text-center" role="contentinfo">

      <div class="wrapper text-center">

        <div class="h1 footer__logo" itemscope itemtype="http://schema.org/Organization">
          
            <a href="/" itemprop="url" class="site-header__logo-text"></a>
          
        </div>

        <!-- snippets/newsletter.liquid -->

<div class="newsletter text-center password-input-group">

    
</div>


        
          <div class="link-list">
            
              <a class="footer-link" href="/pages/about">About</a>
            
              <a class="footer-link" href="/pages/faqs">FAQs</a>
            
              <a class="contact-us" href="mailto:hi@qz.com">Contact us at <span>hi@qz.com</span></a>
              <a class="privacy-policy" href="https://qz.com/about/privacy-policy/">Privacy Policy</a>
              <a class="terms-conditions" href="https://qz.com/about/terms-conditions/">Terms and Conditions</a>
              <span>&copy; 2019</span>
          </div>
        


        
        

      </div>

    </footer>


</div>

  </div>

  <script type="text/javascript">
    if ( window.devicePixelRatio > 1 ) {
      var retinaImages = document.getElementsByClassName('retina-img');
      for (var i = 0; i <= retinaImages.length; i++ ) {
        if ( retinaImages[i] != undefined ) {
          retinaImages[i].setAttribute('src', retinaImages[i].getAttribute('data-retina-src'));
        }
      }
    }
  </script>

  <script type="text/javascript">

    
    
    
    
    
    

    jQuery.themeAssets = {
      plus: '<svg class=" svg plus" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="19" height="19" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve" aria-hidden="true"><path d="M11 19c-1 0-2 0-3 0 0-2.6 0-5.2 0-8 -3.1 0-5.5 0-8 0 0-1 0-2 0-3 2.6 0 5.2 0 8 0 0-3.1 0-5.5 0-8 1 0 2 0 3 0 0 2.6 0 5.2 0 8 3.1 0 5.5 0 8 0 0 1 0 2 0 3 -2.6 0-5.2 0-8 0C11 14.1 11 16.5 11 19z"/></svg>',
      minus: '<svg class=" svg minus" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="19" height="19" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve" aria-hidden="true"><path d="M8 8C5.2 8 2.6 8 0 8c0 1 0 2 0 3 2.5 0 4.9 0 8 0 2.8 0 8.4 0 11 0 0-1 0-2 0-3C16.5 8 11.1 8 8 8z"/></svg>',
      close: '<svg version="1.1" class="svg close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812"/></svg>',
      arrow_down: '<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="17" height="10" viewBox="0 0 17 10" enable-background="new 0 0 17 10" xml:space="preserve"><polygon fill="#020202" points="17 1.4 15.6 0 8.5 7.1 1.4 0 0 1.4 8.5 9.9 8.5 9.9 8.5 9.9 "/></svg>',
      arrow_left: '<svg class=" svg arrow_left" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="26" height="45" viewBox="0 0 26 45" enable-background="new 0 0 26 45" xml:space="preserve"><polygon fill-rule="evenodd" clip-rule="evenodd" points="0 22.4 21.8 0.7 25.1 4.1 6.7 22.4 25.1 40.9 21.8 44.2 1.1 23.5 1.1 23.5 "/></svg>',
      arrow_right: '<svg class=" svg arrow_right" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="26" height="45" viewBox="0 0 26 45" enable-background="new 0 0 26 45" xml:space="preserve"><polygon fill-rule="evenodd" clip-rule="evenodd" points="25.1 22.4 3.3 0.7 0 4.1 18.5 22.4 0 40.9 3.3 44.2 24 23.5 24 23.5 "/></svg>'
    }

  </script>

  <script>
    
    
  </script>

<script src="/services/javascripts/currencies.js" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/2026/8661/t/36/assets/jquery.currencies.min.js?1289952700905013038" type="text/javascript"></script>
</body>
</html>
